.books{
   background-color: #e1f7fc;
}


.search-filter{
   display: flex;    
   justify-content: space-between;
   align-items: flex-start;
   height: 90px;
}

select:required:invalid {
   color: gray;
 }


 option {
   color: black;
 }

#genre-filter{
   padding: 5px;
   border: 1px solid #b5b5b5;
   border-radius: 5px;
   font-size: 15px;
   font-family: inherit; /*"Oswald" , sans-serif*/
   border: 1px solid rgb(159, 159, 159);
   outline: none;
}

.seachbox{
   position: relative;
   display: flex;
   align-items: center;
}

#id_search {    
   padding: 5px;
   font-size: 15px;
   font-family: inherit; /*"Oswald" , sans-serif*/
   border: 1.3px solid #000;
   outline: none;
}

#id_search::placeholder{
   color: #000;
}

.seachbox i {
   position:absolute;
   right: 10px;
   color: rgb(35, 169, 247);
}


/*______________List of Books ____________*/

.book-itmes{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 45px 35px;


   
}

.book-itme{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   padding: 14px;
   background-color: #fff;
}

.book-img{
   width: 100%;
   margin-bottom: 20px;
   height: 140px;
   object-fit: cover;
   object-position: center;

}

.book-name{
   text-transform: capitalize;
   color: rgb(46, 42, 42);
   margin-bottom: 8px;
   transition: color 0.5s ;
   
}

.book-author{
   font-size: 16px;
   color: rgb(68, 66, 66);
   text-transform: capitalize;
   margin-bottom: 18px;
}

.book-desc{
   color: rgb(68, 66, 66); 
   margin-bottom: 18px;

}

.book-desc::first-letter{
   text-transform: capitalize;
}

.thumbs{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.thumbs i{
   /* color: var(--maincolor); */
   transition: color 0.5s ;
   cursor: pointer;
   
}
.thumbs i:nth-child(2){
   margin-left: 10px;
}

.thumbs i:hover ,.book-name:hover{
   color: rgb(117, 116, 116);
}

.count-likes {
   font-size: 12px;
   color: var(--maincolor);
} 

/*________Pagination___________*/


.simple-pagination ul{
   margin-top: 80px;
   list-style: none;
   padding: 0;
   text-align: center;

   display: flex;
   justify-content: center;
   align-items: center;
}



.simple-pagination li a ,
.simple-pagination li span{

   display: block;
   width: 40px;
   height: 40px;
   line-height: 40px;
   background-color: #fff;
   text-align: center;

   text-decoration: none;
   color: #252525;
  
   box-shadow: inset 0 5px 10px rgba(0,0,0,.1) , 0 2px 5px rgba(0,0,0, .5);
   transition: background-color 1s ease;
}

.simple-pagination li a:hover{
   background-color: #000;
   color: #fff;

}

.simple-pagination .current {

   color: #000;
   background-color: rgb(255,255,255);
   border: 1px solid;
   cursor: pointer;
}


.simple-pagination .prev.current,
.simple-pagination .next.current {
   color: #fff;
   background-color: #222;
   border: none;   
}

.simple-pagination .prev,
.simple-pagination .next{
   width: 80px !important;
}


/*responsive*/
@media(max-width: 767px){

   /*Start Pagination*/
   .simple-pagination .prev,
   .simple-pagination .next{
      visibility: hidden;
      position: relative;
   }

   .simple-pagination .prev.current::before,
   .simple-pagination .next.current::before{
   color: #fff;
   background-color: #222;
   border: none;   
}

   .simple-pagination .prev::before,
   .simple-pagination .next::before
   {
      position: absolute;
      visibility: visible;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      text-align: center;
      display: block;
      text-decoration: none;
      color: #252525;
   
      box-shadow: inset 0 5px 10px rgba(0,0,0,.1) , 0 2px 5px rgba(0,0,0, .5);
      transition: background-color 1s ease;
   }

   .simple-pagination .prev::before{
      content: "<<";
      right: 0;

   }

   .simple-pagination .next::before{
      content: ">>";
      left: 0;

   }

   .simple-pagination .prev:hover::before,
   .simple-pagination .next:hover::before{
      
      background-color: #000;
      color: #fff;
   }

      /*End Pagination*/
   /*__________________________________________*/

   .book-itmes{
      grid-template-columns: repeat(2, 1fr);

 }
 }/* End max-width : 767*/


@media(max-width: 574px){
   .book-itmes{
      grid-template-columns: repeat(1, 250px);
      justify-content: center;
   }

   .simple-pagination .prev,
   .simple-pagination .next{
   width: 40px !important;
}
}

@media(max-width: 400px){

   #genre-filter{
      width: 80px;
      font-size: 12px;
   }
   
   #id_search {    
   
      width: 120px;
      font-size: 12px;
   }
   
   .seachbox i {
      right: 6px;
      font-size: 10px;
   }
}


